---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Dot Dager">
    <div id="contents">
        <main class="container">
            <div class="mb-16">
                <Heading />

                <Contact />
            </div>
        </main>
    </div>
</Layout>
